h1{
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
p{
    color: blue;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: red;
    font-size: 25px;
   
}
h3{
    color: red;
}
h4{
    color: red;
    
}